 * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body 

.flexbox {
    display: flex;
    margin-bottom: 10px;
}
.box {
    width: 30%;
    border: 2px solid lightblue;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
    text-align: center;
}

.right {
    justify-content: flex-end;
    text-align: right;
}
.space-around {
    justify-content: space-around;
}

